{% extends 'base.html' %}

{% block content %}
    <div class='row'>
        <div class='col-lg-6'>
{{ single_user }}



{% for item in single_user.userpicture_set.all %}

<img src='{{ MEDIA_URL }}{{ item }}' class='img-responsive'/>

{% endfor %}
        </div>
    <div class='col-lg-6'>

<ul>
{% for item in single_user.address_set.all %}

<li>{{ item }}</li>

{% endfor %}
</ul>


<ol>
{% for item in single_user.job_set.all %}

<li> {{ item }} </li>

{% endfor %}
</ol>

</div>
</div>
{% endblock %}